<!doctype html>
<html ng-app="evaApp">
<head>
    <!--Bootstrap and AngularJS--->
    <!--css--->
    <!-- build:style vendor -->
    <link type="text/css"  href="../vendor/extJS/css/resources/css/ext-all.css" rel="stylesheet">
    <link type="text/css"  href="../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css"  href="../vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <!-- /build -->

    <!---css from EBI --->
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/mini/ebi-fluid-embl.css">
    <!---/EBI----->
    <!---css from EVA --->
    <link type="text/css"  href="css/eva-portal-colours.css" rel="stylesheet">
    <link type="text/css"  href="css/eva-portal-visual.css" rel="stylesheet">
    <link type="text/css"  href="css/eva.css" rel="stylesheet">
    <!---/EVA CSS----->

    <!-- JS from vendors -->
    <!-- build:script vendor-jquery -->
    <script type="text/javascript" src="../vendor/jquery.min.js"></script>
    <!-- /build -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

    <!-- build:script vendor -->
    <script type="text/javascript" src="../vendor/underscore-min.js"></script>
    <script type="text/javascript" src="../vendor/backbone-1.1.2-min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendor/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script type="text/javascript" src="../vendor/highstock.src.js"></script>
    <script type="text/javascript" src="../vendor/highcharts-ng.js"></script>
    <script type="text/javascript" src="../vendor/extJS/js/ext-all.js"></script>
    <script type="text/javascript" src="../vendor/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../vendor/checklist-model.js"></script>
    <script type="text/javascript" src="../vendor/angular-scroll.min.js"></script>
    <script type="text/javascript" src="../vendor/extJS/ux/SlidingPager.js"></script>
    <script type="text/javascript" src="../vendor/extJS/ux/data/PagingMemoryProxy.js"></script>
    <!--<script type="text/javascript" src="../vendor/extJS/js/ext-debug.js"></script>-->
    <!-- /build -->

    <!-- Genome-viewer -->
    <link href="../lib/jsorolla/styles/css/style.css" rel="stylesheet">
    <link href="../lib/jsorolla/vendor/jquery.qtip.min.css" rel="stylesheet">
    <script type="text/javascript" src="../lib/jsorolla/vendor/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/gv-config.js"></script>


    <!-- build:script utils-js -->
    <script type="text/javascript" src="../lib/jsorolla/src/lib/utils/svg.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/lib/utils/utils.js"></script>
    <!-- /build -->

    <script type="text/javascript" src="../lib/jsorolla/src/lib/ui-widgets/ux-window.js"></script>

    <!-- build:script cellbase-js -->
    <!-- cellbase ui-widgets -->
    <script type="text/javascript" src="../lib/jsorolla/src/lib/cellbase/ui-widgets/info-widget.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/lib/cellbase/ui-widgets/gene-info-widget.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/lib/cellbase/ui-widgets/protein-info-widget.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/lib/cellbase/ui-widgets/snp-info-widget.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/lib/cellbase/ui-widgets/transcript-info-widget.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/lib/cellbase/ui-widgets/vcf-variant-info-widget.js"></script>

    <!-- cellbase ws-manager -->
    <script type="text/javascript" src="../lib/jsorolla/src/lib/cellbase/cellbase-manager.js"></script>
    <!-- /build -->

    <!-- build:script gv-js -->
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/data-adapter/cellbase-adapter.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/data-adapter/sequence-adapter.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/data-adapter/opencga-adapter.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/data-adapter/bam-adapter.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/data-adapter/feature-data-adapter.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/data-adapter/vcf-data-adapter.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/data-adapter/gff2-data-adapter.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/data-adapter/gff3-data-adapter.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/data-adapter/bed-data-adapter.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/data-adapter/das-adapter.js"></script>

    <script type="text/javascript" src="../lib/jsorolla/src/lib/data-source/data-source.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/lib/data-source/string-data-source.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/lib/data-source/file-data-source.js"></script>

    <script type="text/javascript" src="../lib/jsorolla/src/lib/region.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/lib/feature-binary-search-tree.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/cache/feature-cache.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/cache/bam-cache.js"></script>

    <script type="text/javascript" src="../lib/jsorolla/src/cache/memory-store.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/cache/feature-chunk-cache.js"></script>



    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/navigation-bar.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/chromosome-panel.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/karyotype-panel.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/tracks/tracklist-panel.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/status-bar.js"></script>

    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/widget/legend-panel.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/widget/legend-widget.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/widget/url-widget.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/widget/file-widget.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/widget/vcf-file-widget.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/widget/gff-file-widget.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/widget/bed-file-widget.js"></script>


    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/tracks/track.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/tracks/feature-track.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/tracks/sequence-track.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/tracks/gene-track.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/tracks/bam-track.js"></script>


    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/renderers/renderer.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/renderers/feature-renderer.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/renderers/sequence-renderer.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/renderers/feature-cluster-renderer.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/renderers/histogram-renderer.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/renderers/gene-renderer.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/renderers/bam-renderer.js"></script>
    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/renderers/vcf-multisample-renderer.js"></script>

    <script type="text/javascript" src="../lib/jsorolla/src/genome-viewer/genome-viewer.js"></script>
    <!-- /build -->

    <!-- build:script eva-js -->
    <script type="text/javascript" src="js/app.js"></script>

    <!-------------------controller----------------------------------->
    <script type="text/javascript" src="js/controllers/variation-browser-controller.js"></script>
    <script type="text/javascript" src="js/controllers/backbone-event-manager.js"></script>

    <!--------------------------directives----------------------------->
    <script type="text/javascript" src="js/directives/eva-portal-home-drirective.js"></script>
    <script type="text/javascript" src="js/directives/variant-widget-directive.js"></script>
    <script type="text/javascript" src="js/directives/gene-view-directive.js"></script>
    <script type="text/javascript" src="../lib/ebi-js-commons/ebi-compliance/js/ebi-complaince-directive.js"></script>


    <!------------------------Widgets ----------------------------->
    <script type="text/javascript" src="../app/widgets/variant-widget.js"></script>
    <script type="text/javascript" src="../app/widgets/gene-widget.js"></script>
    <script type="text/javascript" src="../app/widgets/variant-genotype.js"></script>

    <!---------------------services -------------------------------->
    <script type="text/javascript" src="js/ebi-var-services/ebivar-services-metadata.js"></script>
    <!-- /build -->

</head>

<body>

<div ebi-header></div>
<div id="wrapper" class="container_24">
    <div id="local-masthead" class="masthead grid_24 nomenu">

        <!-- local-title -->
        <!-- NB: for additional title style patterns, see http://frontier.ebi.ac.uk/web/style/patterns -->
        <div class="grid_12 alpha" id="local-title">
            <h1><a href="#" title="Back to [service-name] homepage">EVA Portal</a></h1>
        </div>
        <!-- /local-title -->

        <!-- local-search -->
        <div class="grid_12 omega">
            <form id="local-search" name="local-search"  method="post">
                <fieldset>
                    <div class="left">
                        <label>
                            <input type="text" name="first" id="local-searchbox" ng-model="searchboxValue">
                        </label>
                        <span class="examples">Examples: <a href="?variantID=rs186126309">rs186126309</a>, <a href="?variantID=rs191612142">rs191612142</a>, <a href="?variantID=rs181691356">rs181691356</a></span>
                    </div>
                    <div class="right">
                        <input type="submit" name="submit" value="Search" class="submit" ng-click="search()">
                        <!-- If your search is more complex than just a keyword search, you can link to an Advanced Search,
                             with whatever features you want available-->
                        <!--<span class="adv"><a href="../search" id="adv-search" title="Advanced">Advanced</a></span>-->
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- /local-search -->
        <!-- local-nav -->
        <nav class="" >
            <ul class="nav nav-pills" id="topMenuTab">
                <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> <element class='icon icon-socialmedia' data-icon='F'>Home</a></li>
                <li id="variationLi"><a href="#vbrowser" data-toggle="tab">Variant Browser</a></li>
                <li id="genesLi"><a href="#gbrowser" data-toggle="tab">Genes</a></li>
                <li id="samplesLi"><a href="#samples" data-toggle="tab">Samples</a></li>
                <li class="hidden" id="variantID  Li"><a href="#variantID" data-toggle="tab">Variant View</a></li>
                <li  class="right last" ><a href="#gviewer" data-toggle="tab">Genome Viewer</a></li>

            </ul>
        </nav>
        <!-- /local-nav -->
    </div>

    <div  id="content" role="main" class="grid_24 clearfix">

        <!--<ng-view></ng-view>-->
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <home-widget></home-widget>
            </div>
            <div class="tab-pane" id="vbrowser">
                <variant-widget></variant-widget>
            </div>

            <div class="tab-pane" id="gbrowser">
                <gene-widget></gene-widget>
            </div>

            <div class="tab-pane" id="samples">
                <a href="?variantInfo=rs191612142">Clinical</a>
            </div>

            <div class="tab-pane" id="clinical">
                clinical
            </div>

            <div class="tab-pane" id="variantID">
                <variant-view></variant-view>
            </div>

        </div>
    </div>

 </div>





<div ebi-footer></div>

<script>

    var eventManager = new EventManager();
    eventManager.on("variant:search", function(e) {
        //console.log('search');
    });


    $(function () {
        var data = getUrlParameters("");
        if(data.tab_id){
            $('#topMenuTab a[href=#'+data.tab_id+']').click();
        }else{
            $('#topMenuTab a:first').tab('show')
        }
    })

    $('#topMenuTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')

    })
    $('#innerDocMenuTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('#topMenuTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')

    })



    /*
     Function: getUrlParameters
     Description: Get the value of URL parameters either from
     current URL or static URL
     Author: Tirumal
     URL: www.code-tricks.com
     */
    function getUrlParameters(staticURL){
        var data = [];

        var currLocation = (staticURL.length)? staticURL : window.location.search;
        if(currLocation.indexOf("?") >= 0)
        {
            parArr = currLocation.split("?")[1].split("&");
            if(parArr){
                for(var i = 0; i < parArr.length; i++){
                    parr = parArr[i].split("=");
                    data.tab_id = parr[0];
                    data.value = parr[1];
                    return data;
                }
            }
        }else{
            return false
        }
    }




</script>

</body>
</html>