<!doctype html>
<html ng-app="evaApp">
<head>
    <!--Bootstrap and AngularJS--->
    <!--css--->
    <!-- build:style vendor -->
    <link type="text/css"  href="../vendor/extJS/css/resources/css/ext-all.css" rel="stylesheet">
    <link type="text/css"  href="../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css"  href="../vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
        <!-- /build -->

    <!---css from EBI --->
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/mini/ebi-fluid-embl.css">
    <!---/EBI----->
    <!---css from EVA --->
    <!--<link type="text/css"  href="css/eva-portal-colours.css" rel="stylesheet">-->
     <link type="text/css"  href="css/eva-portal-visual.css" rel="stylesheet">
    <link type="text/css"  href="css/eva.css" rel="stylesheet">
    <!---/EVA CSS----->

    <!-- build:script internal-dependencies -->
    <script type="text/javascript" src="js/gv-config.js"></script>
    <!-- /build -->

    <!-- JS from vendors -->
    <!-- build:script vendor -->
    <script type="text/javascript" src="../vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../vendor/angular-1.2.16.js"></script>
    <script type="text/javascript" src="../vendor/underscore-1.5.2.min.js"></script>
    <script type="text/javascript" src="../vendor/backbone-1.1.2-min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendor/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script type="text/javascript" src="../vendor/highcharts-4.0.1.js"></script>
    <script type="text/javascript" src="../vendor/extJS/js/ext-5.0.0-all.js"></script>
    <!--<script type="text/javascript" src="http://cdn.sencha.io/ext/gpl/5.0.0/build/ext-all.js"></script>-->
    <script type="text/javascript" src="../vendor/angular-scroll.min.js"></script>
    <script type="text/javascript" src="../vendor/extJS/ux/SlidingPager.js"></script>
    <script type="text/javascript" src="../vendor/extJS/ux/data/PagingMemoryProxy.js"></script>
    <!--<script type="text/javascript" src="../vendor/extJS/js/ext-debug.js"></script>-->
    <script type="text/javascript" src="../vendor/genome-viewer-1.0.3.js"></script>

    <!-- /build -->



    <!-- build:script eva-js -->
    <script type="text/javascript" src="js/eva-config.js"></script>
    <script type="text/javascript" src="js/eva-manager.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!-------------------controller----------------------------------->
    <script type="text/javascript" src="js/controllers/eva-main-controller.js"></script>
    <script type="text/javascript" src="js/controllers/backbone-event-manager.js"></script>

    <!--------------------------directives----------------------------->
    <script type="text/javascript" src="js/directives/eva-portal-home-drirective.js"></script>
    <script type="text/javascript" src="js/directives/variant-widget-directive.js"></script>
    <script type="text/javascript" src="js/directives/gene-widget-directive.js"></script>
    <script type="text/javascript" src="js/directives/file-browser-directive.js"></script>
    <script type="text/javascript" src="../lib/ebi-js-commons/ebi-compliance/js/ebi-complaince-directive.js"></script>


    <!------------------------Widgets ----------------------------->
    <script type="text/javascript" src="widgets/variant-browser-widget.js"></script>
    <script type="text/javascript" src="widgets/gene-browser-widget.js"></script>
    <script type="text/javascript" src="../app/widgets/variant-genotype.js"></script>
    <script type="text/javascript" src="../app/widgets/variant-effects.js"></script>
    <script type="text/javascript" src="../app/widgets/variant-study.js"></script>
    <!-- /build -->

</head>

<body>

<div ebi-header></div>
<div id="wrapper" class="container_24">
    <div id="local-masthead" class="masthead grid_24 nomenu">

        <!-- local-title -->
        <!-- NB: for additional title style patterns, see http://frontier.ebi.ac.uk/web/style/patterns -->
        <div class="grid_12 alpha" id="local-title">
            <h1><a href="?home"><img src="img/eva_logo.png" alt="" width="75" height="64" /></a>European Variation Archive</h1>
        </div>
        <!-- /local-title -->

        <!-- local-search -->
        <div class="grid_12 omega">
            <form id="local-search" name="local-search"  method="post">
                <fieldset>
                    <div class="left">
                        <label>
                            <input type="text" name="first" id="local-searchbox" ng-model="searchboxValue">
                        </label>
                        <span class="examples">Examples: <a href="?variantID=rs186126309">rs186126309</a>, <a href="?variantID=rs191612142">rs191612142</a>, <a href="?variantID=rs181691356">rs181691356</a></span>
                    </div>
                    <div class="right">
                        <input type="submit" name="submit" value="Search" class="submit" ng-click="search()">
                        <!-- If your search is more complex than just a keyword search, you can link to an Advanced Search,
                             with whatever features you want available-->
                        <!--<span class="adv"><a href="../search" id="adv-search" title="Advanced">Advanced</a></span>-->
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- /local-search -->
        <!-- local-nav -->
        <nav class="" >
            <ul class="nav nav-pills" id="topMenuTab">
                <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                <!--<li id="submitLi"><a href="#submitData" data-toggle="tab"> Submit Data</a></li>-->
                <li id="subStartLi"><a href="#submission-start" data-toggle="tab">Submit Data</a></li>
                <li id="fileBrowserLi"><a href="#fbrowser" data-toggle="tab">File Browser</a></li>
                <li id="variationLi"><a href="#vbrowser" data-toggle="tab">Variant Browser</a></li>
                <li id="gviewerLi"><a href="#gviewer" data-toggle="tab">Genome Viewer</a></li>
                <!--<li id="genesLi"><a href="#gbrowser" data-toggle="tab">Genes</a></li>-->
                <!--<li id="clinicalLi"><a href="#clinical" data-toggle="tab">Clinical</a></li>-->
                <li id="aboutLi"><a href="#aboutEva" data-toggle="tab">About</a></li>
                <li id="contactUsLi"><a href="#contactUs" data-toggle="tab">Contact</a></li>

                <!----hidden tabs---->
                <li id="variantIDLi" class="hidden"><a href="#variantID" data-toggle="tab">Variant View</a></li>
                <li id="templatesLi" class="hidden"><a href="#templates" data-toggle="tab">Templates</a></li>
                <li id="vcfLi" class="hidden"><a href="#vcf" data-toggle="tab">VCF Format</a></li>

            </ul>
        </nav>
        <!-- /local-nav -->
    </div>

    <div  id="content" role="main" class="grid_24 clearfix">

        <!--<ng-view></ng-view>-->
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <home-widget></home-widget>
            </div>

            <div class="tab-pane" id="submitData">
                <submission></submission>
            </div>

            <div class="tab-pane" id="submission-start">
                <submission-form></submission-form>
            </div>


            <div class="tab-pane" id="fbrowser">
               <file-browser></file-browser>
            </div>

            <div class="tab-pane" id="vbrowser">
                <variant-widget></variant-widget>
            </div>

            <div class="tab-pane" id="gviewer">
                Coming Soon
            </div>

            <div class="tab-pane" id="gbrowser">
                <gene-widget></gene-widget>
            </div>

            <div class="tab-pane" id="clinical">
                <clinical></clinical>
            </div>


            <div class="tab-pane" id="aboutEva">
                <about></about>
            </div>

            <div class="tab-pane" id="contactUs">
                <contact-us></contact-us>
            </div>

            <div class="tab-pane" id="variantID">
                <variant-view></variant-view>
            </div>


            <div class="tab-pane" id="templates">
                <templates></templates>
            </div>

            <div class="tab-pane" id="vcf">
               <vcf-format></vcf-format>
            </div>

        </div>
    </div>

 </div>





<div ebi-footer></div>

<script>

    var eventManager = new EventManager();
    eventManager.on("variant:search", function(e) {
        //console.log('search');
    });


    $(function () {
        var data = getUrlParameters("");
        if(data.tab_id){
            $('#topMenuTab a[href=#'+data.tab_id+']').click();

        }else{
            $('#topMenuTab a:first').tab('show')
        }
    })

    $('#topMenuTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')

    })
    $('#innerDocMenuTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('#topMenuTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')

    })



    /*
     Function: getUrlParameters
     Description: Get the value of URL parameters either from
     current URL or static URL
     Author: Tirumal
     URL: www.code-tricks.com
     */
    function getUrlParameters(staticURL){
        var data = [];

        var currLocation = (staticURL.length)? staticURL : window.location.search;
        if(currLocation.indexOf("?") >= 0)
        {
            parArr = currLocation.split("?")[1].split("&");
            if(parArr){
                for(var i = 0; i < parArr.length; i++){
                    parr = parArr[i].split("=");
                    data.tab_id = parr[0];
                    data.value = parr[1];
                    return data;
                }
            }
        }else{
            return false
        }
    }


</script>

</body>
</html>