<div class="row">
    <div class="col-md-12" ng-repeat="(key,value) in  studies">
        <div>
            <table class="table table-borderless">
                <tr>
                    <td style="width:50%"> <h4>{{value.name}}</h4></td>
                    <td><button style="margin-top:10px;" type="button" ng-init="toggleState=false" ng-click="toggleShow(); showFiles(key)" class="btn  btn-default btn-xs"><span ng-if="toggleState">-</span><span ng-if="!toggleState">+</span></button></td>
                </tr>
            </table>
            <!--<h4>{{value.name}} <small><button type="button" ng-init="toggleState=false" ng-click="toggleShow(); showFiles(key)" class="btn  btn-default btn-xs"><span ng-if="toggleState">-</span><span ng-if="!toggleState">+</span></button></small></h4>-->
            <div class="col-md-12" ng-if="toggleState">
                <table class="table table-bordered table-secondary">
                    <tr>
                        <th>File Name</th>
                        <th>Submission Date</th>
                        <th>Samples Count</th>
                        <th>Variants Count</th>
                        <th>SNP Count</th>
                        <th>Indel Count</th>
                        <th>Pass Count</th>
                        <th>Transitions/Transversions Ratio</th>
                        <th>Mean Quality</th>
                    </tr>
                    <tr ng-repeat="value in  value.filesData|orderBy:'fileId'">
                        <td>{{value.fileName}}</td>
                        <td>{{value.date| date:'dd-MMM-yyyy'}}</td>
                        <td>{{value.globalStats.samplesCount}}</td>
                        <td>{{value.globalStats.variantsCount}}</td>
                        <td>{{value.globalStats.snpCount}}</td>
                        <td>{{value.globalStats.indelCount}}</td>
                        <td>{{value.globalStats.passCount}}</td>
                        <td>{{(value.globalStats.transitionsCount/value.globalStats.transversionsCount)|number:2}} ({{value.globalStats.transitionsCount}}/{{value.globalStats.transversionsCount}})</td>
                        <td>{{value.globalStats.meanQuality | number:3}}</td>
                    </tr>
                </table>


            </div>
        </div>

    </div>

</div>