<div class="col-sm-12 col-md-12 col-lg-12" ng-controller="variationCtrl">
    <div class="col-sm-4 col-md-3 col-lg-3">
        filters demo
        <div class="panel-group" id="accordion">
            <div class="panel panel-ebi-secondary">
                <div class="panel-heading">
                  <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#species">
                      Species
                  </div>
                </div>
                <div id="species" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <select ng-model="color" ng-options="c.name for c in colors" ng-change="speciesChange()"></select>
                    </div>
                </div>
            </div>
            <div class="panel panel-ebi-secondary">
                <div class="panel-heading">
                    <div data-toggle="collapse" data-parent="#accordion" href="#collapseLocation">
                        Location
                    </div>
                </div>
                <div id="collapseLocation" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <textarea type="text" ng-model="color.name" rows="4" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="panel panel-ebi-secondary">
                <div class="panel-heading">
                    <div data-toggle="collapse" data-parent="#accordion" href="#test">
                        test
                    </div>
                </div>
                <div id="test" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <select ng-model="color" ng-options="c.name for c in colors" ng-change="speciesChange()"></select>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-9">
        list of studies
    </div>

</div>