<div ng-controller="evaMainCtrl">
    <div>
        <h2>{{variant}} Info</h2>
    </div>
    <div class="row">
        <div class="col-sm-3  col-md-2 col-lg-2">
            <ul id="variantViewTabs" class="nav nav-pills nav-stacked affix-top">
                <li><a href="#summary" du-smooth-scroll du-scrollspy offset="300">Summary</a></li>
                <li><a href="#effects" du-smooth-scroll du-scrollspy offset="300">Effects</a></li>
                <li><a href="#studies" du-smooth-scroll du-scrollspy offset="300">Studies</a></li>
                <li><a href="#other" du-smooth-scroll du-scrollspy offset="300">Other</a></li>
            </ul>
       </div>
        <div class="col-sm-9 col-md-10 col-lg-10">
            <div id="summary">
                <h3>Summary</h3>
                <div class="row">
                    <div class="col-md-10">
                        <div class="table-responsive div-secondary">
                            <table class="table table-borderless">
                                <tr><td>ID</td><td>{{variantInfoData.id}}</td></tr>
                                <tr><td>Type</td><td>{{variantInfoData.type}}</td></tr>
                                <tr><td>Chromosome Position</td><td>{{variantInfoData.chr}}:{{variantInfoData.start}}-{{variantInfoData.end}}</td></tr>
                                <tr ng-show="variantInfoData.ref"><td>Ref</td><td>{{variantInfoData.ref}}</td></tr>
                                <tr ng-show="variantInfoData.alt"><td>Alt</td><td>{{variantInfoData.alt}}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


            <div id="effects">
                <h3>Effects</h3>
                <div class="row">
                    <div class="col-md-10">
                        <div class="table-responsive" >
                            <div ng-repeat="(key,value) in  effectsData">
                                <h4>{{value.name}}&nbsp; <a  style="font-size:14px;" href="http://www.sequenceontology.org/miso/current_release/term/{{value.id}}" target="_blank">{{value.id}}</a>&nbsp;<small><button type="button" ng-init="toggleState=true" ng-click="toggleShow()" class="btn  btn-default btn-xs"><span ng-if="toggleState">-</span><span ng-if="!toggleState">+</span></button></small></h4>
                                <div class="div-secondary" ng-if="toggleState">
                                    <br /> <table class="table table-bordered table-secondary">
                                        <tr>
                                            <th>Feature Id</th>
                                            <th>Feature Chromosome</th>
                                            <th>Feature Start</th>
                                            <th>Feature End</th>
                                            <th>Feature Type</th>
                                        </tr>
                                        <tr ng-repeat="(key,value) in  value.data">
                                            <td>{{value.featureId}}</td>
                                            <td>{{value.featureChromosome}}</td>
                                            <td>{{value.featureStart}}</td>
                                            <td>{{value.featureEnd}}</td>
                                            <td>{{value.featureType}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="studies">
                <h3>Studies</h3>
                <div class="row">
                    <div  class="col-md-10" ng-repeat="(key,value) in  variantFilesData">
                        <h4>{{value.id}} study&nbsp;&nbsp;<small><button type="button"  ng-init="toggleState=true" ng-click="toggleShow()" class="btn  btn-default btn-xs"><span ng-if="toggleState">-</span><span ng-if="!toggleState">+</span></button></small></h4>
                        <div class="div-secondary"  ng-if="toggleState">
                            <div ng-repeat="(key,value) in value.data">
                                <table class="table table-bordered table-secondary">
                                    <h5>File Attributes</h5>
                                    <tr><th ng-repeat="(key,value) in value.attributes">{{key}} </th></tr>
                                    <tr ><td ng-repeat="(key,value) in value.attributes">{{value}}</td></tr>
                                </table>
                                <div class="row">
                                    <div  class="col-md-8">
                                        <h5>Stats</h5>
                                        <table class="table table-borderless">
                                            <tr ng-repeat="(key,value) in value.stats"><td>{{key}} </td><td>{{value}}</td></tr>
                                        </table>
                                    </div>
                                    <div  class="col-md-2" ng-repeat="(key,value) in  value.chartData">
                                        <h5 style="margin-left:70px;">Genotype Count</h5>
                                        <div  style="height: 300px; width: 300px;"id={{value.$$hashKey}}></div>
                                        <div ng-show="drawPieChart(value,value.$$hashKey)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
