<div ng-controller="variationBrowserCtrl">
<div class="col-sm-4 col-md-3 col-lg-3">
    <div  id="accordion">
        <div class="panel panel-ebi-primary">
            <div class="panel-heading">
                <div  href="#collapseFilter" style="cursor: pointer">
                    <h6><strong>Filters</strong></h6>
                </div>
            </div>
            <div id="collapseFilter" class="panel-collapse">
                <div class="panel-body">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs" ng-click="" >
                                Reload
                            </button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="">
                                Clear
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs" ng-click=searchVariants()>
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="panel panel-ebi-secondary">-->
        <!--<div class="panel-heading">-->
        <!--<div  class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSpecies" style="cursor: pointer">-->
        <!--Species-->
        <!--</div>-->
        <!--</div>-->
        <!--<div id="collapseSpecies" class="panel-collapse collapse in">-->
        <!--<div class="panel-body">-->
        <!--<select ng-model="color" ng-options="c.name for c in colors" ng-change="speciesChange()"></select>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="panel panel-ebi-secondary">
            <div class="panel-heading">
                <div  class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseLocation" style="cursor: pointer" >
                    Filter By
                </div>
            </div>
            <div id="collapseLocation" class="panel-collapse collapse in">
                <div class="panel-body">
                    SNP id: <textarea type="text" ng-model="snpId" rows="2" class="form-control"></textarea>
                    Region: <textarea type="text" ng-model="location" rows="2" class="form-control"></textarea>
                    Gene: <textarea type="text" ng-model="gene" rows="2" class="form-control"></textarea>
                </div>
            </div>
        </div>


        <div class="panel panel-ebi-secondary">
            <div class="panel-heading">
                <div  class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseStudy" style="cursor: pointer" >
                    Study
                </div>
            </div>
            <div id="collapseStudy" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="">
                        <button type="button" class="btn btn-default btn-xs" onclick="$('.evaStudyCheckbox').prop('checked', true);" >
                            Select all
                        </button>
                        <button type="button" class="btn btn-default btn-xs" onclick="$('.evaStudyCheckbox').prop('checked', false);">
                            Clear
                        </button>
                    </div>
                    <div ng-repeat="ct in studies">
                        <input type="checkbox" class="evaStudyCheckbox" title="{{ct.description}}"> {{ct.name}}
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-ebi-secondary">
            <div class="panel-heading">
                <div  class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseConsequenceType" style="cursor: pointer" >
                    Consequence Type
                </div>
            </div>
            <div id="collapseConsequenceType" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="">
                        <button type="button" class="btn btn-default btn-xs" ng-click="checkAll_CT()">Select all</button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="uncheckAll_CT()">Clear </button>
                    </div>
                    <div ng-repeat="ct in consequenceTypes | orderBy: 'name'">
                        <input type="checkbox" checklist-model="selectedCT.Id" checklist-value="ct.acc" title="{{ct.description}}"> {{ct.name}} (<a target="_blank" href="http://www.sequenceontology.org/miso/current_release/term/{{ct.acc}}">{{ct.acc}}</a>)
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-ebi-secondary">
            <div class="panel-heading">
                <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseVariationClass" style="cursor: pointer" >
                    Variation classes
                </div>
            </div>
            <div id="collapseVariationClass" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="">
                        <button type="button" class="btn btn-default btn-xs" ng-click="checkAll_VC()">Select all</button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="uncheckAll_VC()">Clear </button>
                    </div>
                    <div ng-repeat="ct in variationClasses | filter: { call: 'Variation' } :true ">
                        <input type="checkbox" checklist-model="selectedVC.Id" checklist-value="ct.acc" class="evaVarClassCheckbox" title="{{ct.description}}"> {{ct.name}} (<a target="_blank" href="http://www.sequenceontology.org/miso/current_release/term/{{ct.acc}}">{{ct.acc}}</a>)
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="panel panel-ebi-secondary">-->
        <!--<div class="panel-heading">-->
        <!--<div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseInfoColumns" style="cursor: pointer">-->
        <!--Info Columns-->
        <!--</div>-->
        <!--</div>-->
        <!--<div id="collapseInfoColumns" class="panel-collapse collapse">-->
        <!--<div class="panel-body">-->
        <!--<div>-->
        <!--<div id="infoColumnMultiSelect">-->
        <!--<button type="button" id="{{v}}" ng-repeat="(k,v) in infoColumns" ng-click="infoColumnBtnClick(v)" class="btn btn-default btn-sm">{{k}}</button>-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;<button type="button" id="{{color.name}}" ng-repeat="color in colors" ng-click="infoColumnBtnClick(color.name)"  class="btn btn-default">{{color.name}}</button>&ndash;&gt;-->
        <!--<div class="btn-toolbar" role="toolbar">-->
        <!--<br /><button type="button" class="btn btn-default btn-xs" ng-click="selectAllInfoColumn()">-->
        <!--Select all-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-default btn-xs" ng-click="deselectAllInfoColumn()">-->
        <!--Deselect all-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
<!--<div class="col-sm-8 col-md-9 col-lg-9">-->
<!--<ul id="variantBrowserTabs" class="variantBrowserTabs nav nav-tabs nav-pills">-->
<!--<li><a ui-sref="variant.browser">Browser</a></li>-->
<!--<li><a ui-sref="variant.view">View</a></li>-->
<!--</ul>-->
<!--<div ui-view></div>-->
<!--</div>-->

<div  class="col-sm-8 col-md-9 col-lg-9">
    <h2>Variant Browser</h2>
    <!--<ul id="variantBrowserTabs" class="variantBrowserTabs nav nav-tabs nav-pills">-->
    <!--&lt;!&ndash;<li><a href="#summary" data-toggle="tab">Summary</a></li>&ndash;&gt;-->
    <!--<li class="active"><a href="#vBrowser" data-toggle="tab">Variants and Effect</a></li>-->
    <!--</ul>-->

    <div class="tab-content">

        <!--<div class="tab-pane" id="summary">-->
        <!--<div style= "margin-left:150px;">-->
        <!--<highchart id="chart1" config="barChart" style= "width: 30%"></highchart>-->
        <!--</div>-->
        <!--</div>-->

        <div class="tab-pane active" id="vBrowser">

            <div>
                <div>
                    <h3><small><span class="label label-primary">Summary </span>&nbsp;<button type="button" ng-click="showStatitsics()" class="btn  btn-default btn-xs">{{statistics}}</button></small></h3>
                    <highchart ng-show="showStatitsicsState" id="chart1" config="summaryPieChartConfig" style="width: 350px; height: 300px;" ></highchart>
                </div>
            </div>

            <div class="variantTable">
                <!--<div><h4>Summary</h4></div>-->
                <div id={{variantTableId}}></div><br/>

                <ul id={{variantBrowserSubTabsId}} class="variantBrowserTabs nav nav-tabs nav-pills">
                    <li id="{{variantFilesTableId}}Li" class="active"><a href="#vFiles" data-toggle="tab">Variant Files & Stats</a></li>
                    <li id="{{variantEffectTableId}}Li" ><a href="#vEffect" data-toggle="tab">Variant Effects</a></li>
                    <li id="vGenotypes1"><a href="#vGenotypes" data-toggle="tab">Variant Genotypes</a></li>
                    <li id="{{variantGenomeViewerId}}Li"><a href="#genomeViewer" data-toggle="tab">Genome Viewer</a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane fade active in" id="vFiles">
                        <!--<div><h5>Files</h5></div>-->
                        <div  id={{variantFilesTableId}}></div>

                        <div  class="row">

                            <div class="col-md-8">
                                <!--<div><h5>Stats</h5></div>-->
                                <div id={{variantStatsViewId}}></div>
                            </div>

                            <div class="col-md-4">
                                <div id={{variantStatsChartId}} style="width: 250px;"></div>
                            </div>

                        </div>

                    </div>
                    <div class="tab-pane fade " id="vEffect">
                        <!--<div><h5>Effects</h5></div>-->
                        <div id={{variantEffectTableId}}></div>
                    </div>
                    <div class="tab-pane fade " id="vGenotypes">
                        <!--<div><h5>Effects</h5></div>-->
                        <div>Genotypes Coming <soon>    </soon></div>
                    </div>

                    <div class="tab-pane fade"  id="genomeViewer">
                        <div id={{variantGenomeViewerId}} style="width:980px"></div>
                    </div>

                </div>

            </div>

        </div>




    </div>

</div>
<!--<variant-widget></variant-widget>-->
</div>