<div ng-controller="evaMainCtrl">
    <div>
        <h2>{{variant}} Info</h2>
    </div>
    <div class="row">
        <div class="col-sm-3  col-md-2 col-lg-2">
            <ul id="variantViewTabs" class="nav nav-pills nav-stacked affix-top">
                <li><a href="#summary" du-smooth-scroll du-scrollspy offset="300">Summary</a></li>
                <li><a href="#effects" du-smooth-scroll du-scrollspy offset="300">Effects</a></li>
                <li><a href="#studies" du-smooth-scroll du-scrollspy offset="300">Studies</a></li>
                <li><a href="#other" du-smooth-scroll du-scrollspy offset="300">Other</a></li>
            </ul>
       </div>
        <div class="col-sm-9 col-md-10 col-lg-10">
            <div id="summary">
                <h3>Summary</h3>
                <div class="row">
                    <div class="col-md-10">
                        <div class="table-responsive div-secondary">
                            <table class="table table-borderless">
                                <tr><td><b>ID</b></td><td>{{variantInfoData.id}}</td></tr>
                                <tr><td><b>Type</b></td><td>{{variantInfoData.type}}</td></tr>
                                <tr><td><b>Chromosome:Start-End</b></td><td>{{variantInfoData.chr}}:{{variantInfoData.start}}-{{variantInfoData.end}}</td></tr>
                                <!--<tr><td><b>Start-End</b></td><td>{{variantInfoData.start}}-{{variantInfoData.end}}</td></tr>-->
                                <tr ng-show="variantInfoData.ref"><td><b>Ref</b></td><td>{{variantInfoData.ref}}</td></tr>
                                <tr ng-show="variantInfoData.alt"><td><b>Alt</b></td><td>{{variantInfoData.alt}}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


            <div id="effects">
                <h3>Effects</h3>
                <div class="row">
                    <div class="col-md-10">
                        <div class="table-responsive" >
                            <div ng-repeat="(key,value) in  effectsData">
                                <h4>{{value.name}}&nbsp; <a  style="font-size:14px;" href="http://www.sequenceontology.org/miso/current_release/term/{{value.id}}" target="_blank">{{value.id}}</a>&nbsp;<small><button type="button" ng-init="toggleState=true" ng-click="toggleShow()" class="btn  btn-default btn-xs"><span ng-if="toggleState">-</span><span ng-if="!toggleState">+</span></button></small></h4>
                                <div class="div-secondary" ng-if="toggleState">
                                    <br /> <table class="table table-bordered table-secondary">
                                        <tr>
                                            <th>Feature Id</th>
                                            <th>Feature Chromosome</th>
                                            <th>Feature Start</th>
                                            <th>Feature End</th>
                                            <th>Feature Type</th>
                                        </tr>
                                        <tr ng-repeat="(key,value) in  value.data">
                                            <td>{{value.featureId}}</td>
                                            <td>{{value.featureChromosome}}</td>
                                            <td>{{value.featureStart}}</td>
                                            <td>{{value.featureEnd}}</td>
                                            <td>{{value.featureType}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="studies">
                <h3>Studies</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div id="variantViewStudyID"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
