<div ng-controller="evaMainCtrl">

<div class="col-sm-4 col-md-3 col-lg-3">
    <div  id="">
        <div class="panel panel-ebi-primary">
            <div class="panel-heading">
                <div  href="#collapseFilter" style="cursor: pointer">
                    <h6><strong>Filters <span data-original-title="Filter Description" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-info-sign"></span></strong></h6>
                </div>
            </div>
            <div id="collapseFilter" class="panel-collapse">
                <div class="panel-body">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs" ng-click=reloadVariants() >
                                <span class="glyphicon glyphicon-repeat"></span> Reload
                            </button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="clearVariants()">
                                Clear
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs" ng-click=searchVariants()>
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-ebi-secondary">
            <div class="panel-heading">
                <div  class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseLocation" style="cursor: pointer" >
                    Position &nbsp;<span data-original-title="Position Description" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-info-sign"></span>
                </div>
            </div>
            <div id="collapseLocation" class="panel-collapse collapse in">
                <div class="panel-body">
                    SNP id: <textarea type="text" ng-model="snpId" rows="2" class="form-control"></textarea>
                    Chromosomal Location: <textarea type="text" ng-model="location" rows="2" class="form-control"></textarea>
                    Gene / Transcript: <textarea type="text" ng-model="gene" rows="2" class="form-control"></textarea>
                </div>
            </div>
        </div>


        <div class="panel panel-ebi-secondary">
            <div class="panel-heading">
                <div  class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseStudy" style="cursor: pointer" >
                    Study&nbsp;<span data-original-title="Study Description" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-info-sign"></span>
                </div>
            </div>
            <div id="collapseStudy" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id={{studiesTreeId}}></div>
                    <div id='test'></div>
                </div>
            </div>
        </div>


        <div class="panel panel-ebi-secondary">
            <div class="panel-heading">
                <div  class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseConsequenceType" style="cursor: pointer" >
                    Consequence Type &nbsp;<span data-original-title="Consequence type Description" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-info-sign"></span>
                </div>
            </div>
            <div id="collapseConsequenceType" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id={{consequenceTypeTreeId}}></div>
                </div>
            </div>
        </div>


        <div class="panel panel-ebi-secondary">
            <div class="panel-heading">
                <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseVariationClass" style="cursor: pointer" >
                    Variation classes &nbsp;<span data-original-title="Filter Description" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-info-sign"></span>
                </div>
            </div>
            <div id="collapseVariationClass" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id={{variationClassesTreeId}}></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div  class="col-sm-8 col-md-9 col-lg-9">

    <div class="tab-content">

        <div class="tab-pane active" id="vBrowser">

            <div>
                <div>
                    <h3>Summary&nbsp;<button data-original-title="Gene Ranking Data" data-toggle="tooltip" data-placement="right" type="button" ng-click="showStatitsics()" class="btn  btn-default btn-xs toolTip"><span class={{statisticsClass}} style="color: #426783"></span></button></h3>
                    <highchart ng-show="showStatitsicsState" id="chart1" config="summaryPieChartConfig" style="width: 350px; height: 300px;" ></highchart>
                </div>
            </div>

            <div class="variantTable">
                <h3>Variant Browser</h3>
                <div id={{variantTableId}}></div><br/>
                <h3>Variant Data</h3>
                <ul id={{variantBrowserSubTabsId}} class="variantBrowserTabs nav nav-tabs nav-pills">
                    <li id="{{variantFilesTableId}}Li" class="active"><a href="#vFiles" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> Variant Files & Stats</a></li>
                    <li id="{{variantEffectTableId}}Li" ><a href="#vEffect" data-toggle="tab"><span class="glyphicon glyphicon-th"></span> Variant Effects</a></li>
                    <li id="{{variantGenoTypeTableId}}Li"><a href="#vGenotypes" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Variant Genotypes</a></li>
                    <li id="{{variantGenomeViewerId}}Li"><a href="#genomeViewer" data-toggle="tab"><span class="glyphicon glyphicon-th-large"></span>  Genome Context</a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane fade active in" id="vFiles">
                        <div class="row">
                            <div class="col-md-12">
                                <div id={{variantFilesTableId}}></div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade " id="vEffect">
                        <h4>Effects</h4>
                       <div id={{variantEffectTableId}}></div>
                    </div>
                    <div class="tab-pane fade " id="vGenotypes">
                        <h4>Genotypes</h4>
                        <div id={{variantGenoTypeTableId}}></div>
                        <div id="grid-example"></div>
                    </div>

                    <div class="tab-pane fade"  id="genomeViewer">
                        <div id={{variantGenomeViewerId}} style="width:980px"></div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>
</div>