.panel-ebi-primary, .panel-ebi-secondary{
    border-color: #70BDBD;
    border-radius:0 0 0 0;
}

.panel-ebi-primary > .panel-heading, .panel-ebi-secondary > .panel-heading{
   background-color: #70BDBD;
   border-radius:0 0 0 0;
}

.btn-ebi-primary {
    color: #fff;
    background-color: #70BDBD;
    border-color: #357ebd;

}

/*.accordion-toggle span{*/
    /*float: right;*/

/*}*/
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


