

div#local-masthead {

    background: #156765 url("../img/EBI_banner_Homepage.jpg") no-repeat  right top ;
    background-size: 100%;

}
body.front div#local-masthead {

    background: #156765 url("../img/EBI_banner_Homepage.jpg") no-repeat  right top ;
    background-size: 100%;

}

body.front #local-masthead ul {
    margin-top:-16px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    body.front #local-masthead ul {
        margin-top:-22px;
    }

}
div#local-masthead h2{
    color:#BFD9D8;
}


.panel-ebi-primary, .panel-ebi-secondary{
    /*border-color: #357ebd;*/
    border-color: #156765;
    /*border-radius:0 0 0 0;*/
}

.panel-ebi-primary > .panel-heading, .panel-ebi-secondary > .panel-heading{
   /*background-color: #CFDFF4;*/
   background-color: #70BDBD;
   /*border-radius:0 0 0 0;*/
   padding: 2px 3px;
}

.btn-ebi-primary {
    color: #fff;
    background-color: #CFDFF4;
    border-color: #357ebd;

}

/*.accordion-toggle span{*/
    /*float: right;*/

/*}*/
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


/*.my-table*/
/*{*/
    /*overflow-y:scroll;*/
/*}*/

.gridStyle {
    margin-top: 20px;
    position:relative;
    border: 1px solid rgb(212,212,212);
    height: 300px;
}
div .ngHeaderText{
    border-style:solid;
    border-width: 1px;
    border-color:#428BCA;
}
.ngHeaderContainer{
    background-color:##CFDFF4;
}

.variantBrowserTabs.nav-pills > li > a {
    padding-top:3px !important;
    padding-bottom:3px !important;
}
.variantBrowserTabs.nav-pills {
    min-height:20px !important;
    /*background-color: #CFDFF4;*/
    border-color: #ffffff;
}

.variantBrowserTabs.nav-pills li a, .nav-tabs{
    /*border-radius: 0px;*/
    /*border: 1px solid #ddd;*/
    /*border-color: #357ebd;*/
    border-color: #156765;
}

.nav-pills > li.active > a,      .nav-pills > li.active > a:hover{
    background-color: #70BDBD;
}



.x-column-header-inner{
    zoom:1;
    text-align:center;
    position:relative;
    white-space:nowrap;
    line-height:15px;
    padding:3px 6px 4px
}

.x-grid-cell-inner {
    padding: 5px 5px 5px 5px;
    white-space: nowrap;
    text-align:center;
}



.grid-table th, .grid-table td {
    padding: 5px 5px 5px 5px;
    border: 0px
    solid #f1f1f1;
    border-collapse: collapse;
    vertical-align: top;
}
 h2,h4{
     color:#426783;
 }
 h3,h5 {
    color:#BF8230;
 }

 h3 span{
     color:#BBBBBB;
 }

.no-icon {
    display : none;
    background-image:url('ext/resources/images/default/s.gif') !important;
}


#variantViewTabs{
    position: fixed;
}
.panel-body a, .panel-body a:link{
    border-bottom-style: none;
}

#variantViewTabs a, #variantViewTabs a:link, #variantViewTabs a:visited{

    border-bottom-width: 1px;
    border-bottom-style: none;
}
#variantViewTabsnav li,#variantViewTabs nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center
}


#variantViewTabs a:hover {
    background: #c6deef;
}
#variantViewTabs a.active {
    /*background: #428BCA;*/
    background: #70BDBD;
    color: #fff;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.table-borderless>tbody>tr>td {
    border-top: none;
}
.table-bordered td {
    text-align: center;
}
.table-bordered th {
    text-align: center;
}


.div-bordered{
    border-left: double #ADADAD;
    border-top: 1px solid #ADADAD;
    border-bottom: 1px solid #ADADAD;
    border-right: 1px solid #ADADAD;

}

div.masthead ul li.right{
    float:right;
}


.x-tree-node-text,.x-grid-row .x-grid-cell, .x-column-header-text,.x-toolbar-text,.x-btn-inner {
    font-family: Verdana, sans-serif !important;
}

.div-secondary{
    margin-left:5px;
}
.table-secondary{
    margin-left:5px;
}

#variantViewTabs{
    margin-left:30px;
}

input:invalid, textarea:invalid {
    background-color: #ffffff;
}

.required{
    color:#FF0000;
}

.grid-img{
    max-height: 20px;
    max-width: 20px;
}

#variantBrowserTable a,#variantBrowserTable  a:link,#variantBrowserTable  a:visited
{
    border-bottom-style: none;
}
.x-tree-icon-parent{
    background-image: none;
}
.x-grid-tree-node-expanded .x-tree-icon-parent {
    background-image: none;
}















